<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Agregar Ingreso / Egreso</h4>
        <p class="card-description">Especifique el monto y el tipo</p>

        <form [formGroup]="ingresoEgresoForm" (ngSubmit)="save()">
          <div class="form-group">
            <label>Descripción</label>
            <input
              type="text"
              class="form-control"
              placeholder="Descripción"
              name="descripcion"
              formControlName="description"
            />
          </div>

          <div class="form-group">
            <label>Monto</label>
            <input
              type="number"
              class="form-control"
              placeholder="Monto"
              name="monto"
              formControlName="amount"
            />
            <p>Debe de ser un monto positivo</p>
          </div>

          <div class="form-group">
            <label>Tipo</label>
            <br />
            <button
              (click)="toggleTypeOfAmount()"
              type="button"
              class="btn btn-primary btn-block"
              [ngClass]="isIncome ? 'btn-primary' : 'btn-warning'"
            >
              {{ typeOfAmount | titlecase }}
            </button>
          </div>

          <hr />
          <button
            type="submit"
            [disabled]="ingresoEgresoForm.invalid"
            class="btn mr-2"
            [ngClass]="isLoading ? 'btn-warning' : 'btn-success'"
          >
            <i
              class="fa"
              [ngClass]="isLoading ? 'fa fa-spin fa-sync' : 'fa-save'"
            ></i>
            {{ isLoading ? "saving" : "Agregar" }}
          </button>
          <button type="reset" class="btn btn-light">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
