<div class="table-responsive">
  <table class="table table-striped table-hover align-middle">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">User Id</th>
        <th scope="col">Title</th>
        <th scope="col">body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <th scope="row">{{ post.id }}</th>
        <td>{{ post.userId }}</td>
        <td>{{ post.title }}</td>
        <td>
          <!-- Inline level -->
          <span class="d-inline-block text-truncate" style="max-width: 150px">
            {{ post.body }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
